@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

* {
    margin:0px;
    padding: 0px;
    box-sizing:border-box;
    outline:none;
    font-family: Helvetica, sans-serif;
}

:root {
    --color0: #303580;
    --color1: #474EBB;
    --color2: #EBB044;
    --color3: #D34E4E;
    --color4: #E8E8F9;
    --color5: #7FC5A3;
}

html,
body {
    width: 100%;
    overflow-x: hidden;
    background-color: var(--color4);
}

header {
    width: 100%;
    height: 200px;
    background: var(--color1);
}

.content {
    max-width: 1000px;
    min-width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 10px 10px 0 10px;
}

nav {
    width: 100%;
    height: 125px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.brand {
    font-family: 'Silkscreen', cursive;
    color: white;
    cursor: pointer;
    text-align: center;
    line-height: 20px;
    font-size: 2em;
}

.brand span {
    font-size: 0.3em;
    letter-spacing: 3px;
}

nav li{
    list-style: none;
}

nav li a {
    text-decoration:none;
    color: white;
    transition: 0.3s;
    font-weight: bold;
    padding: 5px;
    border-radius: 4px;
}

nav li a:hover {
    background-color: var(--color3);
}

section .contacts{
    width: 100%;
    padding: 100px;
}
.title {
    margin-top: 50px;
    font-size: 1.3em;
    color: var(--color0);
    background-color: white;
    padding: 10px;
    border-radius: 8px 8px 0px 0px;
}

.title span{
    font-size: 2em;
    color: var(--color1);
    text-shadow: -2px 2px 5px rgba(0, 0, 0, 0.724);
}

  /*Editanto elementos contacts*/
.links {
    max-width: 1000px;
    min-width: 300px;
    height: 70vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: white;
    padding: 20px;
}

.links h4 {
    margin-bottom: 10px;
}

.social-icons{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 30px;
}

.social img {
    width: 32px;
    height: 32px;
    filter:invert(100%)
}


.links .contact h5{
    letter-spacing: 1px;
    height: 20px;
}

footer .last {
    width: 100%;
    height: 50px;
    background: var(--color1);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .last a{
    text-decoration: none;
    color: white;
    margin-left: 3px;
}

/* Ajuste de responsividade */

@media (max-width: 410px) {

    header{
        height: 200px;
    }

    .brand{
        font-size: 1.5em;
    }
    .title {
        width: 100%;
    }

    .links {
        flex-direction: column;
        justify-content: start;
        padding-left: 10%;
    }
    
}