
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');


* {
    margin:0px;
    padding: 0px;
    box-sizing:border-box;
    outline:none;
    font-family: Helvetica, sans-serif;
}

:root {
    --color0: #303580;
    --color1: #474EBB;
    --color2: #EBB044;
    --color3: #D34E4E;
    --color4: #E8E8F9;
    --color5: #7FC5A3;
}

html,
body {
    overflow-x: hidden;
    background-color: var(--color4);
}

main{
    display: flex;
    flex-direction: column;
    gap: 100px;
}

header {
    width: 100%;
    background: var(--color1);
}

.content {
    max-width: 1000px;
    min-width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

nav {
    width: 100%;
    height: 125px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px 0 10px;
}

.brand {
    font-family: 'Silkscreen', cursive;
    color: white;
    text-align: center;
    line-height: 20px;
    font-size: 2em;
}

.brand span {
    font-size: 0.3em;
    letter-spacing: 3px;
}

nav #icon-menu {
    filter: invert(100%);
    font-size: 2.5em;
}

.header-block {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    height: 450px;
    background-color: white;
    transition: all 400ms ease; 
    position: relative;
    transform-style: preserve-3d;
    border: 10px solid var(--color1);
}

.header-block #img {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all 400ms ease;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.header-block #img img {
    width: 60%;
}

.header-block #img div h1 {
    padding: 0 20px;
    width: 100%;
    text-align: center;
    color: var(--color0);
    font-family: 'Share Tech', sans-serif;
}

#knowledge {
    color: var(--color5);
    text-shadow: 1px 1px 1px black;
}

#fun {
    color: var(--color3);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.712);
}

.flip {
    transform: rotateY(180deg); 
}

#options-menu{ 
    width: 100%;
    height: 100%;
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: white;
    transform: rotateY(180deg); 
    backface-visibility: hidden;
    border-radius: 8px 8px 0px 0px;
}

#menu-left {
    display: flex;
    align-items: center;
    justify-content: center;
}

#options-menu ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#options-menu li {
    width: 130px;
    list-style:none;
    cursor: pointer;
    text-align: left;
    margin: 10px auto;
}

#options-menu li a {
    text-decoration:none;
    color: var(--color0);
    font-size: 1.5em;
    font-weight: bolder;
    position: relative;
}

#options-menu li a label{
    display: none;
    position: absolute; 
}

#options-menu li a:hover > label{
    display: inline;
    animation: marcadorAnimation 0.3s infinite;   
}

@keyframes marcadorAnimation {
    0%,100% {
        left: -35px;
    }
    50%{
        left: -30px;
    }
}

.header-block img {
    width: 70%;
}

/* Product Catalog*/
section .catalog {
    width: 100%;  
}

.title-wrapper-catalog {
    font-size: 1.3em;
    color: var(--color0);
    background-color: white;
    padding: 10px;
    border-radius: 8px 8px 0px 0px;
}

.title-wrapper-catalog span{
    font-size: 2em;
    color: var(--color1);
    text-shadow: -2px 2px 5px rgba(0, 0, 0, 0.724);
}

section .card-wrapper {
    background-color: var(--color5);
    max-width: 1000px;
    width: 100%;
    height: 100%;
    display: grid;
    padding: 10px;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    grid-gap: 40px;
    border-radius:0px 0px 8px 8px;
    box-shadow: 1px 0px 10px 0px rgb(0, 0, 0, 0.5);
    -webkit-box-shadow: 1px 0px 10px 0px rgb(0, 0, 0, 0.5);
    -moz-box-shadow: 1px 0px 10px 0px rgb(0, 0, 0, 0.5);
}

section .card-item {
    aspect-ratio: 3/4;
    margin: 10px auto;
    background:white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-shadow: -3px 2px 5px rgba(0, 0, 0, 0.647);
}

.card-content {
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.card-item img {
    width: 85%;
    border: 3px solid var(--color0);
    border-radius: 8px;
}

.card-item h4 {
    width: 90%;
}

.card-item p {
    width:90%;
    font-style: italic;
    color: #00000070;
    text-align: center;
}

.card-item a {
    text-decoration: none;
    text-align: center;
    width: 90%;
    padding: 15px 0px;
    background: var(--color3);
    border-radius: 4px;
    color: white;
    font-weight: bolder;
    font-size: 1.1em;
    cursor: pointer;
    transition: 0.3s ease;
}

.card-item a:hover {
    background: #d5b7bdab;
    color: var(--color3);
}

/*About*/
.about {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 10px;
}

.title-wrapper-about{
    margin-bottom: 30px;
    font-size: 1.3em;
    color: var(--color0);
    background-color: white;
    padding: 10px;
    margin-bottom: 0;
    border-radius: 8px 8px 0px 0px;
}

.title-wrapper-about span{
    color: var(--color1);
    font-size: 2em;
    text-shadow: -2px 2px 5px rgba(0, 0, 0, 0.724);
}

.about-content {
    max-width: 1000px;
    min-width: 300px;
    height: 600px;
    background: var(--color2);
    margin: auto;
    border-radius: 0px 0px 8px 8px;
    padding:10px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 10px;
    box-shadow: 1px 0px 10px 0px rgb(0, 0, 0, 0.5);
    -webkit-box-shadow: 1px 0px 10px 0px rgb(0, 0, 0, 0.5);
    -moz-box-shadow: 1px 0px 10px 0px rgb(0, 0, 0, 0.5);
}

.right{
    padding: 20px;
}

.right h3 {
    font-size: 1.3em;
    text-align: start;
}

.right p {
    margin: 15px auto;
    text-align: center;
    font-size: 1em;
    letter-spacing: 2px;
    text-align: justify;
    text-indent: 40px;
    line-height: 25px;
}

  /*Editanto elementos footer*/
footer {
    margin-top: 150px;
    width: 100%;
    height: 250%;
}

footer .main {
    width: 100%;
    height: 200px;
    background: var(--color1);
    padding: 20px 10px;
}

.footer-links {
    max-width: 1000px;
    min-width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
}

.footer-contact, .footer-social {
    color: white;
    height: 100%;
    min-height: 100px;
}

.footer-links h4 {
    margin-bottom: 10px;
}

.footer-links {
    margin-bottom:  8px;
}

.main .footer-social img {
    width: 32px;
    height: 32px;
}

.footer-links .footer-contact h5{
    letter-spacing: 1px;
    height: 20px;
}

footer .last {
    width: 100%;
    height: 50px;
    background: var(--color1);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .last a{
    text-decoration: none;
    color: white;
    margin-left: 3px;
}

/* Ajuste de responsividade */
@media (max-width: 800px){
    .header-block {
        height: 400px;
    }
    .header-block #img h1 {
        font-size: 1.5em;
    }
    
    .about-content {
        height: 100%;
        display: block;
    }

    .left {
        display: none;
    }

    .right h3{
        text-align: center;
    }
}
@media (max-width: 720px){
    .header-block {
        height: 350px;
    }
}
@media (max-width: 550px){
    .header-block {
        height: 300px;
    }
}
@media (max-width: 425px) {

    .header-block {
        height: 250px;
    }
   
    .brand{
        font-size: 1.5em;
    }

    #options-menu li {
        font-size: 0.8em;
    } 

    footer {
        height: 100%;
    }

    footer .main {
        height: 100%;
    }

    .footer-links {
        flex-direction: column;
        padding-left: 10%;
    }
}