html, body{
    height: 100%;
    background-color: #05C7F2;
}
main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

header {
    width: 100%;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-shadow:-1px 1px 2px white;
}
header span {
    font-weight: bolder;
    width: 100%;
    max-width: 300px;
    background-color: #FECE00;
    font-style: italic;
    font-size: 45px;
    box-shadow: -10px 20px 30px rgba(0, 0, 0, 0.644);
    transform: rotate(-2deg);
    margin-top: 20px;
}

header img {
    width: 100px;
    font-weight: bolder;
    margin-bottom: 20px;
}

header h1{
    color: black;
    font-size: 1.5em;
}

.login_form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.login_input {
    border:2px solid black;
    border-radius: 8px;
    color: black;
    font-size: 1em;
    max-width: 300px;
    outline: none;
    padding: 15px;
    width: 100%;
    font-family: 'Press Start 2P', cursive;
}

.login_button {
    background-color: #F25E7A;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    font-size: 1em;
    max-width: 300px;
    padding: 15px;
    width: 100%;
    font-family: 'Press Start 2P', cursive;
    animation: button-shake 0.1s infinite;
}

@keyframes button-shake {
    0%,100%{
        transform: rotate(0.5deg);
    }
    50%{
        transform: rotate(-0.5deg);
    }
}

.login_button:disabled {
    background-color: white;
    color: #aaa;
    cursor: pointer;
    animation: none;
}
footer {
    text-align: center;
    background-color: #0388A6;
    color: white;
}
footer a{
    text-decoration: none;
    color: white;
}
footer a:hover{
    text-decoration: underline;
}

@media (max-height: 400px){
    header {
        display: none;
    }
}